body {
    background: #15191b !important
}

header#header {
    position: relative;
    z-index: 2;
}
.alert.alert-dismissible {
    z-index: 3;
}

div#col2-page {
    position: fixed;
    top: 0;
    left: 0;
}
div#col2-page-menu {
    overflow-y: scroll;
    position: relative;
    top: 100px;
}

.mapboxgl-ctrl-top-right {
    top: 120px;
}

.c-legend-choropleth {
    margin: 0;
    padding: 0;
    list-style: none;
}
.c-legend-content > ul {
    height: 43px;
    display: flex;
}
.c-legend-choropleth > li {
  padding: 0;
  -ms-flex: 1;
  flex: 1;
  list-style: none!important;
}
.c-legend-choropleth .icon-choropleth {
  display: block;
  margin-bottom: 5px;
  margin-left: 2px;
  height: 10px;
}

.site-footer{
    display: none;
}

.card-img-top{
    object-fit: cover;
    height: 200px;
}

