    {#
    /**
     * @file
     * Oilpalm Page template
     */
    #}

{% block head %}
{{ attach_library( 'biopama_oilpalm/biopama_oilpalm' ) }}
{% endblock %}
<div id="col2-page" class="container-fluid p-0">
	<div class="row m-0">
		<div id="col2-page-menu" class="col-md-4">

      <div class="card text-white text-bg-dark mb-3">
        <h5 class="card-header">BIOPAMA  - Industrial and smallholder oil palm plantations mapping</h5>
        <div class="card-body">
          <p class="card-text">Global demand for vegetable oils (soy, cottonseed, sunflower, oil palm, etc.) is increasing which implies the need to optimise vegetable oil production while minimising its environmental impacts on biodiversity and in particular inprotected areas. Within the BIOPAMA project, we have developed an automated processing chain, based on freely available satellite data to detect oil palm plantations globally with a special focus on the ACP region.</p>
          <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseIntroText" role="button" aria-expanded="false" aria-controls="collapseIntroText">Read More</a>
          <div class="collapse" id="collapseIntroText">
          <p>
              We produced the global oil palm map (GOPM) at different levels of detail: Level-1 (probability of mature oil palm plantation), Level-2 (thematic map with three classes:<b>industrial mature oil palm, smallholder mature oil palm</b>, and other land uses), and Level-3 (thematic map with five classes: industrial young and mature oil palm, smallholder young and mature oil palm, and other land uses).<br>
              <br>
              The methodology employed a state-of-the-art artificial intelligence based approach and used freely available Copernicus imagery (Sentinel-1 and Sentinel-2), which allows us to create a monitoring system (i.e. generate an oil palm map every 12 months).The results proved the suitability of our methodology (overall accuracy = 97.5 % for the Level-2 product). Young plantations (Level-3) mapping is more challenging, and thus the final product has a 79.8% overall accuracy.<br>
              <a href="https://essd.copernicus.org/preprints/essd-2020-159/" target="_blank">Scientific literature</a><br>
              <a href="https://doi.org/10.5281/zenodo.3884602" target="_blank">Download (Level 2 set</a><br>
              Additional info: Zoltan.SZANTOI@ec.europa.eu
          </p>
          </div>
        </div>
      </div>

			<div class="card text-right text-white text-bg-dark mb-3">
			  <img class="card-img-top oilpalm lazy" src="{{ oilpalm_image_path }}palm.jpg" alt="Card image cap">
			  <div class="card-body">
				<h5 class="card-title"> 
                    <p>Oil palm plantations</p>
                    <a href="#" class="btn btn-outline-success" data-bs-toggle="collapse" data-bs-target="#collapseOil" aria-expanded="false" aria-controls="collapseOil"><i class="fas fa-ellipsis-v"></i></a> 
                    <a href="#" class="oilpalm btn btn-outline-success add-layer-button"><i class="fas fa-plus"></i></a>
                </h5>
                  <p>
                      <div class="c-legend-content">
                        <ul class="c-legend-choropleth">
                            <li>
                                <div class="oil_palm_7d active_layer icon-choropleth" style="background-color: #bb7101!important; ; "></div>
                                <p><span class="name"><i>Industrial mature oil palm plantations</i></span></p>
                            </li>
                            <li>
                                <div class="oil_palm_1d active_layer icon-choropleth" style="background-color: #de9f26!important; "></div>
                                <p><span class="name"><i>Smallholder mature oil palm plantations</i></span></p>
                            </li>
                        </ul>
                      </div>
                    </p>
				<div class="collapse" id="collapseOil">
				  <div class="card text-bg-dark card-body">
					Oil palm plantations.
				  </div>
				</div>
              </div>
			</div>


            <div class="card text-right text-white text-bg-dark mb-3">
			  <img class="card-img-top oilpalmMature lazy" src="{{ oilpalm_image_path }}palm.jpg" alt="Card image cap">
			  <div class="card-body">
				<h5 class="card-title"> 
                    <p>Probability of mature oil palm plantations (%)</p>
                    <a href="#" class="btn btn-outline-success" data-bs-toggle="collapse" data-bs-target="#collapseOilMature" aria-expanded="false" aria-controls="collapseOilMature"><i class="fas fa-ellipsis-v"></i></a> 
                    <a href="#" class="oilpalmMature btn btn-outline-success add-layer-button"><i class="fas fa-plus"></i></a>
                </h5>
                  <p>
                    <div class="c-legend-content">
                      <ul class="c-legend-choropleth">
                        <li>
                            <div class="oil_palm_7d active_layer icon-choropleth" style="background-color: #18A7D3!important; ; "></div>
                            <p><span class="name"><i>10</i></span></p>
                        </li>
                        <li>
                            <div class="oil_palm_1d active_layer icon-choropleth" style="background-color: #31ABC1!important; "></div>
                            <p><span class="name"><i>20</i></span></p>
                        </li>
                        <li>
                            <div class="oil_palm_7d active_layer icon-choropleth" style="background-color: #49AFAF!important; ; "></div>
                            <p><span class="name"><i>30</i></span></p>
                        </li>
                        <li>
                            <div class="oil_palm_1d active_layer icon-choropleth" style="background-color: #62B39D!important; "></div>
                            <p><span class="name"><i>40</i></span></p>
                        </li>
                        <li>
                            <div class="oil_palm_7d active_layer icon-choropleth" style="background-color: #7AB78B!important; ; "></div>
                            <p><span class="name"><i>50</i></span></p>
                        </li>
                        <li>
                            <div class="oil_palm_1d active_layer icon-choropleth" style="background-color: #93BB79!important; "></div>
                            <p><span class="name"><i>60</i></span></p>
                        </li>
                        <li>
                            <div class="oil_palm_7d active_layer icon-choropleth" style="background-color: #ABBF67!important; ; "></div>
                            <p><span class="name"><i>70</i></span></p>
                        </li>
                        <li>
                            <div class="oil_palm_1d active_layer icon-choropleth" style="background-color: #C4C355!important; "></div>
                            <p><span class="name"><i>80</i></span></p>
                        </li>
                        <li>
                            <div class="oil_palm_7d active_layer icon-choropleth" style="background-color: #DCC743!important; ; "></div>
                            <p><span class="name"><i>90</i></span></p>
                        </li>
                        <li>
                            <div class="oil_palm_7d active_layer icon-choropleth" style="background-color: #F5CB32!important; ; "></div>
                            <p><span class="name"><i>100</i></span></p>
                        </li>
                      </ul>
                    </div>
                  </p>
				<div class="collapse" id="collapseOilMature">
				  <div class="card text-bg-dark card-body">
					Probability of mature oil palm plantations (%).
				  </div>
				</div>
              </div>
			</div>




            <div class="card text-right text-white text-bg-dark mb-3">
			  <img class="card-img-top oilpalmValidation lazy" src="{{ oilpalm_image_path }}palm.jpg" alt="Card image cap">
			  <div class="card-body">
				<h5 class="card-title"> 
                    <p>Global oilpalm validation dataset (points)</p>
                    <a href="#" class="btn btn-outline-success" data-bs-toggle="collapse" data-bs-target="#collapseOilValidation" aria-expanded="false" aria-controls="collapseOilValidation"><i class="fas fa-ellipsis-v"></i></a> 
                    <a href="#" class="oilpalmValidation btn btn-outline-success add-layer-button"><i class="fas fa-plus"></i></a>
                </h5>
                  <p>
                    <div class="c-legend-content">
                      <ul class="c-legend-choropleth">
                        <li>
                            <div class="oil_palm_7d active_layer icon-choropleth" style="background-color: #fbfbfb93!important; ; "></div>
                            <p><span class="name"><i>Other Land Use/Cover</i></span></p>
                        </li>
                        <li>
                            <div class="oil_palm_1d active_layer icon-choropleth" style="background-color: #F5CB32!important; "></div>
                            <p><span class="name"><i>Industrial Mature OP</i></span></p>
                        </li>
                        <li>
                            <div class="oil_palm_7d active_layer icon-choropleth" style="background-color: #bb7101!important; ; "></div>
                            <p><span class="name"><i>Smallholder Mature OP</i></span></p>
                        </li>
                      </ul>
                    </div>
                  </p>
				<div class="collapse" id="collapseOilValidation">
				  <div class="card text-bg-dark card-body">
					Global oilpalm validation dataset (points)
				  </div>
				</div>
              </div>
			</div>






		</div>
		<div class="col-md-8 p-0">
      <div id="map-container"></div>
		</div>
	</div>
</div>